{% if plugin.results | length > 0 %}
<div class="overflow-x-auto m-4">
  <h1 class="m-2 font-bold text-xl">@{{plugin.version}}</h1>
  <table class="result-table table text-gray-950	">
    <thead>
      <tr>
        <th>Severity</th>
        <th>Category</th>
        <th>Check Id</th>
        <th>Path</th>
        <th>Finding</th>
      </tr>
    </thead>
    <tbody>
      {% for result in plugin.results -%}
      <tr class="{{'bg-blue-100' if result.extra.severity == 'INFO' }} {{'bg-yellow-100' if result.extra.severity == 'WARNING' }} {{'bg-pink-100' if result.extra.severity == 'ERROR' }}">
        <td>{{result.extra.severity}}</td>
        <td>{{result.extra.metadata.category}}</td>
        <td>{{result.check_id}}</td>
        <td>{{result.path}}</td>
        <td class="overflow-auto">
            <code>{{result.extra.lines[0:300] }}</code>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}